---
import Shell from "../layouts/Shell.astro";
---

<Shell
  mainClasses="h-full flex flex-col justify-center max-w-lg"
  bodyClasses="flex items-center justify-center"
>
  <h1 class="text-2xl mb-2 dark:text-slate-300">Uh-oh! (404)</h1>
  <p class="mb-2">
    You weren't supposed to get here. You can go elsewhere on this site... but
    definitely not here. Lets pretend this never happened!
  </p>
</Shell>
