---
import Shell from "../layouts/Shell.astro";
---

<Shell>
  <div>
    <h1 class="name">Justin Awrey</h1>
    <p class="description">One stop web designer + developer.</p>
  </div>
</Shell>

<style>
  .name {
    font-size: 4rem;
    margin: 0;
    font-weight: normal;
  }

  .description {
    font-size: 2.2rem;
    margin: 0;
  }
</style>
