---
import Shell from "../layouts/Shell.astro";
import Link from "../components/Link.astro";
import CenterPanel from "../components/CenterPanel.astro";
---

<Shell>
  <CenterPanel>
    <h1 class="text-2xl dark:text-slate-300">Hello!</h1>
    <p>
      My name is Justin, and I'm a software engineer specializing in all things
      related to the web. You can find my open source work on <Link
        href="https://github.com/justinawrey">Github</Link
      >, and subject yourself to my thoughts over at my <Link href="/blog"
        >blog</Link
      >.
    </p>
  </CenterPanel>
</Shell>
