---
import Shell from "../layouts/Shell.astro";
import Link from "../components/Link.astro";
---

<Shell
  mainClasses="h-full flex flex-col justify-center max-w-lg"
  bodyClasses="flex items-center justify-center"
>
  <h1 class="text-2xl dark:text-slate-100">Hello!</h1>
  <p>
    My name is Justin, and I'm a software engineer specializing in all things
    related to the web. You can find my open source work on <Link
      href="https://github.com/justinawrey">Github</Link
    >, and subject yourself to my thoughts over at my <Link href="/blog"
      >blog</Link
    >. If you'd like, you can also check out some of the <Link href="/projects"
      >cool things</Link
    > I've done.
  </p>
</Shell>
