---
import Shell from "../layouts/Shell.astro";
import Link from "../components/Link.astro";

const github = "https://github.com/justinawrey";
const blog = "./blog";
---

<Shell>
  <h1 class="text-2xl">Hello!</h1>
  <p>
    My name is Justin, and I'm a software engineer specializing in all things
    related to the web. You can find my open source work on
    <Link href={github}>Github</Link>, and subject yourself to my thoughts over
    at my
    <Link href={blog}>blog</Link>.
  </p>
</Shell>
