---
import Link from "./Link.astro";

interface LinkInfo {
  path: string;
  displayName: string;
}

const path = Astro.url.pathname;
const links: LinkInfo[] = [];

if (path === "/blog") {
  links.push({ path: "/", displayName: "home" });
} else if (path.startsWith("/blog/")) {
  links.push({ path: "/", displayName: "home" });
  links.push({ path: "/blog", displayName: "posts" });
}
---

<nav>
  <ul class="flex items-center">
    {
      links.map((link, index) => (
        <>
          {index !== 0 ? <span class="mx-1">•</span> : null}
          <li>
            <Link href={link.path}>{link.displayName}</Link>
          </li>
        </>
      ))
    }
  </ul>
</nav>
