---
import Link from "./Link.astro";

interface LinkInfo {
  path: string;
  displayName: string;
}

const path = Astro.url.pathname;
const links: LinkInfo[] = [];

if (path === "/blog") {
  links.push({ path: "/", displayName: "home" });
} else if (path.startsWith("/blog/")) {
  links.push({ path: "/", displayName: "home" });
  links.push({ path: "/blog", displayName: "posts" });
}
---

<nav class="fixed left-3 top-1 flex flex-col">
  {links.map((link) => <Link href={link.path}>{link.displayName}</Link>)}
</nav>
