---
import Link from "./Link.astro";

interface LinkInfo {
  path: string;
  displayName: string;
}

const links: LinkInfo[] = [
  {
    path: "/",
    displayName: "home",
  },
  {
    path: "/blog",
    displayName: "posts",
  },
  {
    path: "/projects",
    displayName: "projects",
  },
];
---

<nav>
  <ul class="flex items-center">
    {
      links.map((link, index) => (
        <>
          {index !== 0 ? <span class="mx-1">•</span> : null}
          <li>
            <Link href={link.path}>{link.displayName}</Link>
          </li>
        </>
      ))
    }
  </ul>
</nav>
