.icons {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
}

.icon {
    height: 1.5rem;
    transition: opacity 0.15s;
    cursor: pointer;
}

.icon:hover {
    opacity: 0.5;
}

.linkedin {
    margin-left: 0.3rem;
}

a {
    all: unset;
}

:root {
    font-family: 'Raleway';
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}