---
import Shell from "./Shell.astro";
import Link from "../components/Link.astro";
---

<Shell>
  <main
    class="h-full prose prose-slate dark:prose-invert dark:prose-headings:text-slate-300 dark:prose-p:text-slate-400 dark:prose-strong:text-slate-300 dark:prose-ol:text-slate-400 dark:prose-ul:text-slate-400 dark:prose-a:text-slate-300 hover:dark:prose-a:text-slate-200 hover:prose-a:text-slate-600"
  >
    <!-- Jank but ok -->
    <br />
    <br />
    <slot />
    <br />
    <br />
  </main>
  <nav class="fixed top-3 left-4 text-lg">
    <ul>
      <li>
        <Link href="/">← Go home</Link>
      </li>
    </ul>
  </nav>
</Shell>
