---
import Shell from "./Shell.astro";
import Link from "../components/Link.astro";
---

<Shell slotClass="w-full h-full flex justify-center">
  <div
    class="h-full m-10 prose prose-slate dark:prose-invert dark:prose-headings:text-slate-300 dark:prose-p:text-slate-400 dark:prose-strong:text-slate-300 dark:prose-ol:text-slate-400 dark:prose-ul:text-slate-400 dark:prose-a:text-slate-300 hover:dark:prose-a:text-slate-200 hover:prose-a:text-slate-600"
  >
    <slot />
  </div>
  <Link
    extraClass="fixed top-3 left-4 text-lg"
    href="/"
  >
    ← Go home
  </Link>
</Shell>
