---
import github from "@fortawesome/fontawesome-free/svgs/brands/github-alt.svg";
import linkedin from "@fortawesome/fontawesome-free/svgs/brands/linkedin-in.svg";
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>Justin Awrey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" as="image" href={github} />
    <link rel="preload" as="image" href={linkedin} />
    <link rel="preload" as="font" href="/fonts/raleway.woff2" type="font/woff2"
    />
    <style>
      @font-face {
        font-family: Raleway;
        src: url("/fonts/raleway.woff2") format("woff2");
      }

      :root {
        font-family: "Raleway";
      }

      html {
        height: 100%;
      }

      body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .icons {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
      }

      .icon {
        height: 1.5rem;
        transition: opacity 0.15s;
        cursor: pointer;
      }

      .icon:hover {
        opacity: 0.5;
      }

      .linkedin {
        margin-left: 0.3rem;
      }

      a {
        all: unset;
      }
    </style>
  </head>
  <body>
    <slot />
    <div class="icons">
      <a href="https://github.com/justinawrey">
        <img class="icon" src={github} alt="github link" />
      </a>
      <a href="https://www.linkedin.com/in/justin-awrey-2b91a7119">
        <img class="icon linkedin" src={linkedin} alt="linkedin link" />
      </a>
    </div>
  </body>
</html>
